<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Success</title>
</head>
<body style="background-image: url('http://2.bp.blogspot.com/-wVWOZw8huik/Ttzq0zIAEcI/AAAAAAAABPI/YuZiH18nNaw/s1600/house-7-782559.jpg');">
     <div class="container col md-3">
     <h1>Welcome To Random Forest House Price Prediction Model</h1>

     </div>
     <div class="container col md-3">
         <h3>Predicted House Price:$<b>{{price}}</b></h3>
     </div>
    <div class="col-sm-12" style="text-align: center; padding: 10px 50px 0px 0px;">
        <a href="/"><button class="btn btn-primary" name="back">Back</button></a>
    </div>

</body>
</html>